
body {
    justify-content: center;
    background-color: hsl(30, 54%, 90%); 
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: hsl(30, 10%, 34%); 
  }
  
  h1, h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
  }
  
  h1 {
    font-weight: lighter;
    color: hsl(14, 45%, 36%); 
  }
  
  h2 {
    color: hsl(332, 51%, 32%); 
    font-weight: 400;
  }
  
  h3 {
    padding-left: 20px;
    font-size: 22px;
    color: hsl(332, 51%, 32%); 
  }
  
  /* Recipe Card */
  .Recipe {
    background-color: hsl(0, 0%, 100%); 
    max-width: 600px; 
    margin: 40px auto; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Image */
  .egg img {
    width: 100%;
    border-radius: 10px;
  }
  
  /* Ingredients, Instructions, and Preparation */
  .preparation {
    background-color: hsl(330, 100%, 98%); 
    border-radius: 2px;
    padding: 5px;
    column-gap: 2px;
  }
  
  .list-style1 li, .list-style2 li, .list-style3 li {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .list-style1 ::marker,
  .list-style2 ::marker,
  .list-style3 ::marker {
    color: hsl(30, 10%, 34%);
  }
  
  /* Nutrition Table */
  .rule, td {
    font-size: 16px;
    padding: 20px;
    border-collapse: collapse;
    width: 70%;
    color: hsl(30, 10%, 34%); 
  }
  
  tr {
    border-bottom: 1px solid hsl(24, 5%, 18%);
  }
  
  span {
    font-weight: 700;
    color: hsl(124, 52, 52); 
  }
  
  /* Responsive Media Query for Mobile Devices */
  @media screen and (max-width: 375px) {
    .Recipe {
        max-width: 320px; 
        margin: 90px auto; 
        padding: 15px; 
    }
  
    .egg img {
      width: 100%;
      border-radius: 5px;
    }
  
    h1, h2 {
      font-size: 20px;
    }
  
    .simple {
      margin: 5px;
      padding-bottom: 5px;
    }
  
    .preparation, .ingredients, .instructions {
      padding: 10px;
    }
  
    .list-style1 li, .list-style2 li, .list-style3 li {
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 5px;
    }
  
    .rule, td {
      width: 100%;
      padding: 10px;
    }
  
    h3 {
      font-size: 18px;
      padding-left: 5px;
    }
  }
  